header {
  background-image: url(img/header-choco.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}

.section{
  padding-top: 4vw;
  padding-bottom: 5vw;
}

.tabs .indicator{
  background-color: #3f000f
}

.tabs .tab .a:focus, .tabs .tab a:focus.active{
  background: transparent;
}